<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" text=""></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="isEdit">{{'Edit Food' | translate}}</ion-title>
    <ion-title *ngIf="!isEdit">{{'Add Food' | translate}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="mainContent">
    <ion-list lines="none">
      <ion-item>
        <ion-label>{{'Category' | translate}}</ion-label>
        <ion-select [(ngModel)]="cid" interface="popover" mode="ios">
          <ion-select-option *ngFor="let item of categories" [value]="item.id">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{'Food Name' | translate }}<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{'Price' | translate }} ({{'currencyCode' | translate }})<ion-text
            color="danger">*</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="price" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{'Short descriptions' | translate }}</ion-label>
        <ion-textarea [(ngModel)]="descriptions" rows="5"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>{{'Status' | translate}}</ion-label>
        <ion-select [(ngModel)]="status" interface="popover" mode="ios">
          <ion-select-option value="true">{{'Available' | translate}}</ion-select-option>
          <ion-select-option value="false">{{'Hide' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="coverPlaceholder" (click)="cover()" *ngIf="!coverImage || coverImage ==''">
        <ion-icon name="cloud-upload-outline" color="primary"></ion-icon>
        <p>{{'Upload foods cover image here' | translate}}</p>
      </div>
      <div class="coverReal" (click)="cover()" [style.backgroundImage]="'url('+coverImage+')'"
        *ngIf="coverImage && coverImage !=''">
      </div>
      <ion-button (click)="submit()" expand="block">
        {{'Submit' | translate}}
      </ion-button>
    </ion-list>

  </div>
</ion-content>